@use '../../../../variables';

.hard-skills-wrapper {
  width: 100%;
  height: auto;
  z-index: 1;
  padding-top: 40px;

  .skills-div-container {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, auto));
    grid-template-rows: repeat(8, minmax(60px, auto));
    margin-bottom: 48px;
    gap: 16px;
    grid-template-areas:
    "react    react   ts     ts     ts       html    html    html"
    "react    react   ts     ts     ts       html    html    html"
    "react    react   antd   antd   antd     antd    antd    antd"
    "js       js      js     sass    sass    sass    css     css"
    "js       js      js     sass    sass    sass    css     css"
    "js       js      js     strapi  strapi  strapi  strapi  strapi"
    "js       js      js     strapi  strapi  strapi  strapi  strapi"
    "js       js      js     .       .       .       .       .      ";

    .react      { grid-area: react; }
    .ts         { grid-area: ts; }
    .html       { grid-area: html; }
    .antd       { grid-area: antd; }
    .js         { grid-area: js; }
    .sass       { grid-area: sass; }
    .css        { grid-area: css; }
    .strapi     { grid-area: strapi; }

  }
}
