@use '../../../../abstracts/variables';
@use '../../../../abstracts/mixins';

.contact-form-section-wrapper {
  position: relative;
  padding: 0 0 160px;
  white-space: pre-line;

  .container {
    position: relative;

    .signature-wrapper {
      position: absolute;
      height: 520px;
      width: auto;
      bottom: -180px;
      right: -130px;

      @include mixins.xl-max {
        right: -90px;
      }

      @include mixins.lg-max {
        right: -50px;
      }

      @include mixins.md-max {
        right: -75px;
      }

      @include mixins.sm-max {
        width: 300px;
        bottom: -410px;
        right: -50px;
      }
    }
  }
}