.back-to-top-button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(48, 48, 48, 0.05) !important;
  bottom: 30px;
  right: -60px;
  width: 46px!important;
  max-width: 46px!important;
  min-width: 46px!important;
  height: 46px!important;
  max-height: 46px!important;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #83A9D5!important;
  z-index: 10;
  transition: all 0.3s ease, opacity 0.3s ease;

  svg {
  height: 20px;
  object-fit: contain;
  }

  &:hover,
  &:focus {
    background-color: rgba(63, 94, 119, 0.4);
  }

  &:active {
    background-color: unset;
  }

  &.visible {
    opacity: 1;
    transform: translateX(0);
    right: 30px;
  }
}
