.menu-item-wrapper {
  display: flex;
  align-items: center;
  min-width: 124px;
  border-radius: 8px;
  padding: 4px 8px;

  .ant-typography.menu-item-text {
    color: #9d9d9d;
  }

  .ant-typography {
    font-weight: 700 !important;
  }

  &:hover {

   .ant-typography {
      font-weight: 700 !important;
    }
  }

  .menu-item-text {
    padding-left: 8px;
  }

  .ant-typography {
    font-size: 16px;
    font-weight: 400;
  }
}

.ant-menu-item-selected .menu-item-text {
  color: #000000 !important;
}

.ant-menu-item {

  &::after {
    border-bottom: none !important;
    transition: none !important;
  }

  &:hover::after {
    border-bottom: none !important;
  }

  &.ant-menu-item-selected::after {
    border-bottom: none !important;
  }
}

.ant-menu-item-selected {
  border-bottom: none;

  &::after {
    border-bottom: none !important;
  }

  .ant-menu-title-content {

    .menu-item-wrapper {

      .ant-typography {
        font-weight: 700 !important;
      }
    }
  }
}