@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.header-wrapper {
  position: relative;
  padding-top: 20px;
  max-height: 150px;
  height: 150px;

  .header-menu {
    position: relative;
    //background: variables.$primary-bg-color;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    min-width: 630px;
  }

  .logo-btn {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 4px;
    z-index: 4;

    @include mixins.sm-max {
      margin-top: 40px;
    }

    &.ant-btn:hover {
      background-color: transparent;
    }
  }

  .header-logo-bg {
    position: absolute;
    width: 190px;
    height: auto;
    top: 37px;
    left: -40px;
    z-index: -1;

    @include mixins.xl-max {
      left: -10px;
    }

    @include mixins.sm-max {
      width: 280px;
      left: -100px;
      top: 90px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.popup-content-wrapper {
  position: relative;
}

//.ant-popover-inner {
//  background-color: #F7FFE7;
//
//  .ant-menu {
//    background-color: #F7FFE7;
//    border-radius: 8px;
//  }
//}

.ant-divider.ant-divider-horizontal {
  margin: 0;
}

.popover-bg-wrapper {
  overflow: hidden;
  position: absolute;
  height: 190px;
  top: 40px;
  right: -12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header-menu {
  border-inline-end: none !important;

  @include mixins.md-max {
    width: 50vw;

    .ant-menu-item {
      height: 60px;
      display: flex;
      align-items: center;
    }

    .ant-menu-item.ant-menu-item-active {
      background-color: transparent !important;
    }

    .ant-menu-item.ant-menu-item-selected {
      background-color: transparent;
      border: 1px solid #000000;
      border-radius: 7px;
    }
  }

  @include mixins.sm-max {
    width: 60vw;
  }

  @include mixins.xs-max {
    width: 84vw;
  }
}

.popover-raw-wrapper {

  @include mixins.xs-max {
    margin-right: -30px;
  }

  @media screen and (max-width: 320px) {
    margin-right: unset;
  }
}

.ant-popover-content {

  .popover-menu-wrapper {
    background-color: #F7FFE7;
    .header-menu {
      background: transparent;
    }
  }
}

