.projects-gallery-wrapper {
  padding: 20px 0 60px;

  .gallery-wrapper {
    position: relative;

    .upper-bg-img-wrapper {
      position: absolute;
      overflow: visible;
      height: 700px;
      top: -270px;
      right: 75px;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .lower-bg-img-wrapper {
      position: absolute;
      overflow: visible;
      bottom: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .project-item-wrapper {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .project-img-wrapper {
      width: 60%;
      height: 500px;
      border-radius: 230px 30px 230px 30px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .project-content-wrapper {
      width: 40%;
      min-height: 500px;
      padding: 0 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .text-box {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}