@use '../../abstracts/variables';

  .divider-wrapper {
    position: relative;

    .divider-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .line {
        height: 1px;
        flex-grow: 1;
        background-color: transparent;
        min-width: 30px;
      }

      &.black {
        .line {
          background-color: #000000;
        }
        .img-whale-wrapper {

          path {
            fill: #000000;
            stroke: #000000;
          }
        }
      }

      &.white {
        .line {
          background-color: #ffffff;
        }

        .img-whale-wrapper {

          path {
            fill: #ffffff;
            stroke: #ffffff;
          }
        }
      }

      &.blue {

        .line {
          background-color: variables.$primary-blue;
        }

        .img-whale-wrapper {

          path {
            fill: variables.$primary-blue;
            stroke: variables.$primary-blue;
          }
        }
      }

      .img-whale-wrapper {
        width: 38px;
        height: 38px;
        padding: 0 6px 0 8px;

        &.reversed {
          transform: rotateY(180deg);
        }

        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
