@use 'abstracts/variables';
@use 'abstracts/breakpoints';
@use 'abstracts/mixins';

body {
  font-family: inherit;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  .pages-wrapper {
    flex: 1 1 auto;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;

  @include mixins.xl-max {
    padding: 0 40px;
  }

  @include mixins.lg-max {
    padding: 0 20px;
  }

  @include mixins.xs-max {
    padding: 0 60px;
  }

  @media screen and (max-width: 360px) {
    padding: 0 12px;
  }
}

.ant-typography {
  font-family: variables.$main-font;
}