@use 'reset';
@use 'abstracts/variables';

:root {
  font-family: variables.$main-font;
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: inherit;
  background: variables.$primary-bg-color;
}

body.no-scroll {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
}
