@use '../../../../../abstracts/variables';
@use '../../../../../abstracts/mixins';

.experience-item-wrapper {
  position: relative;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: start;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #2E527D;
    transform: translateX(-1px);
    z-index: 1;

    @include mixins.xs-max {
      left: 44px;
    }

    @media (max-width: 410px) {
      left: 24px;
  }
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 49%;
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #2E527D;
    z-index: 3;

    @include mixins.sm-max {
      left: 48%
    }

    @include mixins.xs-max {
      left: 31px;
    }

    @media (max-width: 410px) {
      left: 12px;
    }
  }

  &:last-child {
    &::before {
      height: 140%;
    }
  }

  &.even {
    justify-content: end;

    @include mixins.xs-max {
      height: unset;
      justify-content: center;
    }
  }

  .experience-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    padding: 0 20px 20px 100px;

    @include mixins.sm-max {
      padding: 0 20px 20px 30px;
    }

    &.even-content {
      padding: 0 100px 20px 20px;
      align-items: start;

      @include mixins.sm-max {
        padding: 0 20px 20px 30px;
      }

      @include mixins.xs-max {
        width: 100%;
        padding: 4px 20px 20px 80px;
      }

      @media (max-width: 410px) {
        padding: 0 20px 20px 50px;
      }

      .paragraph-wrapper {
        text-align: left;

        @include mixins.xs-max {
          padding-top: 8px;
        }
      }
    }

    .paragraph-wrapper {
      text-align: right;
    }
  }
}